<div class="container-sm mx-auto">
    <div class="grid grid-cols-12 ">
        <div class="col-span-6 mt-40">
            <h3 class="text-4xl font-bold text-blue-600">Trello giúp các nhóm phát triển công việc về phía trước.</h3>
            <p class="font-bold mt-5">Cộng tác, quản lý dự án và đạt đến đỉnh cao năng suất mới. Từ các tòa nhà cao tầng
                đến văn phòng tại nhà,
                cách nhóm của bạn làm việc là duy nhất—hoàn thành tất cả với Trello.</p>
            <div class="grid grid-cols-12 mt-16">
                <div class="col-span-7"> <input class="rounded w-full mt-1" type="text" name="" id=""
                        placeholder="EMAIL">
                </div>
                <div class="col-span-5 ml-auto"> <button class="btn btn-info">ĐĂNG KÝ-MIỄN PHÍ</button></div>
            </div>
        </div>
        <div class="col-span-6">
            <div class="mt-16">
                <img class="ml-auto" src="{{image.url}}" alt="" width="80%">
            </div>
        </div>
    </div>
    <div class="text-center">
        <h3 class="font-bold text-3xl mt-40">Đó không chỉ là công việc. Đó là cách làm việc cùng nhau.</h3>
        <p class="text-xl mt-5">Bắt đầu với bảng Trello, danh sách và thẻ. Tùy chỉnh và mở rộng với nhiều tính năng hơn
            khi tinh thần làm
            việc nhóm của bạn phát triển. Quản lý các dự án, sắp xếp nhiệm vụ và xây dựng tinh thần làm việc nhóm—tất cả
            ở cùng một nơi.</p>
        <button class="btn btn-outline btn-primary mt-10">BẮT ĐẦU LÀM VIỆC -></button>
        <div class="mt-16 ">
            <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/product/89d378b845766a8f0c48e955336266f8/board.png"
                alt="">
            <h4>Tham gia cùng hơn 1.000.000 nhóm trên toàn thế giới đang sử dụng Trello để hoàn thành nhiều việc hơn.
            </h4>
        </div>
    </div>
    <div class="grid grid-cols-12 mt-20">
        <div class="col-span-6">
            <h3 class="font-bold text-3xl">Các tính năng giúp nhóm của bạn thành công</h3>
            <p class="mt-5">Tăng cường hiệu quả làm việc của nhóm có nghĩa là sử dụng một công cụ mạnh (và nhiều đồ ăn
                nhẹ). Từ các
                cuộc họp và dự án cho đến các sự kiện và thiết lập mục tiêu, các tính năng trực quan của Trello giúp các
                nhóm nhanh chóng thiết lập và tùy chỉnh các quy trình làm việc cho bất kỳ việc gì.</p>
        </div>
        <div class="col-span-6"></div>
    </div>
    <div class="grid grid-cols-12 mt-20 gap-5">
        <div class="col-span-5">
            <img src="{{image.url2}}" alt="">
        </div>
        <div class="col-span-7">
            <h5 class="font-bold">CHỌN TRÌNH XEM</h5>
            <h3 class="font-bold text-3xl mt-3">Bảng mới chỉ là khởi đầu</h3>
            <p class="mt-2 opacity-70">Danh sách và thẻ là các khối xây dựng để tổ chức công việc trên bảng Trello. Phát triển từ đó với các
                nhiệm vụ được giao, lịch trình, chỉ số năng suất, lịch và hơn thế nữa.</p>
        </div>
    </div>
</div>