<div class="container-sm mx-auto">
    <div class="bg-blue-600 rounded text-center pb-16">
        <h3 class="mt-10 text-white text-2xl px-20 font-bold pt-20">Đăng ký và bắt đầu với Trello ngay hôm nay. Một thế giới làm việc nhóm
            hiệu quả đang chờ đợi!</h3>
        <div class="mt-16 flex mx-auto gap-5">
            <input class="rounded mt-1 ml-auto w-96" type="text" name="" id="" placeholder="EMAIL">
            <button class="btn btn-info mr-auto mt-1">ĐĂNG KÝ</button>
        </div>
    </div>
    <div class="mt-20 mb-20">
        <ul class="text-center">
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
            <li class="inline-block mx-5">
                <a href="#">mẫu </a>
            </li>
        </ul>
        <img class="mx-auto mt-5" src="{{images.url}}" alt="" width="15%">
        <p class="text-center mt-5"> © Bản quyền 2021. Bảo lưu toàn quyền.</p>
    </div>
</div>