<div class="container-lg mx-auto mt-10">
    <div class="grid grid-cols-12 gap-5">
        <div class="hidden md:block md:col-span-4 mx-5 lg:mx-none">
            <ul class="">
                <a href="#">
                    <li class="bg-blue-300 p-2 rounded font-bold  "><i class="fab fa-ello pr-2"></i>Bảng</li>
                </a>
                <a href="#">
                    <li class="hover:bg-gray-300 p-2 rounded font-bold my-2 ">
                        <i class="fas fa-door-open"></i> Mẫu
                    </li>
                </a>
                <a href="#">
                    <li class="hover:bg-gray-300 p-2 rounded font-bold my-2 ">
                        <i class="fab fa-envira"></i> Trang chủ
                    </li>
                </a>
            </ul>
            <div class="grid grid-cols-12">
                <div class="col-span-11">
                    <h3 class="mt-5 font-bold opacity-50">CÁC KHÔNG GIAN LÀM VIỆC</h3>
                </div>
                <div class="col-span-1 my-5 hover:bg-gray-300 rounded">
                    <a href="#"><i class="fas fa-plus p-2 w-4"></i></a>
                </div>
            </div>
        </div>
        <div class=" col-span-12 md:col-span-8 mx-5 md:mx-none">
            <div class="">
                <div class="mt-2">
                    <h3 class="font-bold"><i class="fab fa-creative-commons-sampling-plus text-2xl pr-3"></i>Đã xem gần đây</h3>
                </div>
                <div class="">
                    <h3 class="font-bold uppercate opacity-70">CÁC KHÔNG GIAN LÀM VIỆC CỦA BẠN</h3>
                </div>
                <div class="grid grid-cols-12 mt-2">
                    <div class="col-span-6">
                        <div class="bg-gray-200 text-center py-8 rounded">
                            <h5>Tạo bảng mới</h5>
                        </div>
                    </div>
                    <div class="col-span-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>