<div class="container mx-auto">
    <div class="mx-auto mt-5">
        <img class="mx-auto" src="{{images.url}}" alt="" width="40%">
    </div>
    <div class="mx-40 grid grid-cols-1 shadow-2xl p-10 mt-5 rounded">
        <h4 class="text-center font-bold opacity-70 mt-2">Đăng nhập vào Trello</h4>
        <input type="text" placeholder="Nhập email" class="input input-primary input-bordered mt-5">
        <input type="text" placeholder="Nhập mật khẩu" class="input input-primary input-bordered mt-5">
        <button class="btn btn-accent mt-5">ĐĂNG NHẬP</button>
        <div class="grid grid-cols-2 mt-3">
            <button class="btn btn-link text-info text-xs">Không thể đăng nhập? </button>
            <button class="btn btn-link text-info text-xs">Đăng ký tài khoản</button>
        </div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-link text-info text-xs">Chính sách Riêng tư</button>
        <button class="btn btn-link text-info text-xs">Điều khoản dịch vụ</button>
    </div>
    <div class=" mt-10">
        <img class="mx-auto" src="{{images.url1}}" alt="" width="20%">
    </div>
</div>